@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");

* {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: "STIX Two Math", serif;
  overflow-x: hidden;
}
/* Html*/
body {
  background-image: url("./perga2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  display: flex;
}
body h1 {
  font-size: 30px;
}
body nav header {
  position: initial;
  width: 100%;
  text-align: center;
  border: transparent;
  font-size: 20px;
}
body section#Calculadora {
  text-align: center;
  padding: 15%;
}

body aside#Esquerda {
  padding: 3rem;
  position: fixed;
  top: 6rem;
  left: 3rem;
  width: 15rem;
}

body footer {
  display: flex;
}

footer a#Footer {
  text-decoration: none;
  color: #ec3333;
}
input::placeholder {
  text-align: center;
  font-weight: bold;
}

body div#Entradas img {
  width: 40%;
}

body section#Calculadora div#Entradas input {
  background-color: transparent;
  border-radius: 3rem;
}

body section#Calculadora div#Botões-de-ação button {
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  left: 1rem;
  padding: 5px 5px;
}

/* Caso a tela tenha resolução menor que 1200px:*/
@media screen and (min-width: 1200px) {
  aside#Esquerda {
    display: none;
}
}