@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");

* {
  justify-content: center;
  background-image: url("./perga2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "STIX Two Math", serif;
}


nav {
  background-color: #0066ff;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding-left: 40%;
  border: transparent;
}
section#Calculadora {
  text-align: center;
  padding: 15%;
  box-shadow: transparent;
}
aside#left {
  background-color: transparent;
  padding: 3rem;
  position: fixed;
  top: 6rem;
  left: 3rem;
  border-radius: 1rem;
  width: 15rem;
  box-shadow: transparent;
}
